@charset "utf-8";
/* CSS Document */

.wrapper {
	background-color: #000;
	width: 100%;
	height: 100vh;
}

#CDT {
width: 100%;
text-align: center;
font-size: 300%;
font-weight: bold;
color: #ff0000;
font-family:YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif"
}

.p1 {
width: 100%;
text-align: center;
font-size: 300%;
font-weight: bold;
color: #ff0000;
margin-top: auto;
font-family:YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif"
}

.p2 {
width: 100%;
text-align: center;
font-size: 250%;
color: #FF0000;
font-family:YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif"
}

.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }


.ttl {
color: #ffffff;
font-size: 28px;
font-weight: 600;
text-align: center;
margin: 0;
line-height: 1.5;
}

.timer {
background: #000;
margin: 5px auto;
padding: 5px;
}
